.generate-button-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    grid-area: 1 / 1;
}

.generate-button {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    width: 10%;
    height: 100%;
    padding: 20px 30px;
    background-color: cadetblue;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: larger;
    z-index: 0;
}

#generate-button-text {

}