.header-flex-wrapper
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-wrapper {
    padding: 20px 40px;
    background: white;
    box-sizing: border-box;
}
  
.header-logo {
    width: 16.24vw;
    height: 7vw;
    min-width: 176px;
    min-height: 76px;
    background-image: url("../../media/logo_min.png");
    background-size: contain;
    background-repeat: repeat-y;
}

.header-links-container {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.links-wrapper {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.links-wrapper>li {
    padding-right: 60px;
}

.links-wrapper>li:last-child {
    padding-right: 40px;
}

.links-wrapper>li>a {
    text-decoration: none;
    color: black;
    font: 24px sans-serif;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.burger {
    display: block;
}

.burger div {
    width: 30px;
    height: 5px;
    background-color: #2F365E;
    margin: 4px;
    transition: all 0.3s ease;
}

.burgerWrapper {
    display: none;
    align-items: center;
}

.closeMenuField {
    display: none;
}

@media screen and (max-width: 680px)
{
    .header-links-container {
        width: 0%;
    }

    .links-wrapper {
        position: absolute;
        height: calc(100% - 156px);
        right: 0;
        top: 116px;
        background-color: #DADADA;
        display: flex;
        flex-direction: column;
        width: 35%;
        align-items: center;
        justify-content: flex-start;
        padding-top: 40px;
        transform: translateX(100%);
    }

    .links-wrapper>li {
        padding-right: 0px;
        padding-bottom: 80px;
        opacity: 0;
    }

    .links-wrapper>li:last-child {
        padding-right: 0px;
    }

    .header-flex-wrapper {
        background-color: #DADADA;
    }

    .logo-wrapper {
        background-color: #DADADA;
        padding-right: 0px;
    }

    .closeMenuField {
        position: absolute;
        left: 0;
        top: 116px;
        display: none;
        width: 65%;
        padding-top: 40px;
        height: calc(100% - 156px);
    }

    .closeMenuFieldActive {
        display: block;
    }
    
    .menuContainer {
        display: flex;
        margin-right: 13.5%;

    }

    .burgerWrapper {
        width: 35%;
        display: flex;
    }
}

.add-transition {
    transition: transform 0.4s ease-in;
}

.header-links-mobile-active {
    transform: translateX(0%);
}

@keyframes navLinksFadeOut {
    from {
        opacity: 1;
        transform: translateX(0px)
    }
    to {
        opacity: 0;
        transform: translateX(30px);
    }
}

@keyframes navLinksFadeIn {
    from {
        opacity: 0;
        transform: translateX(30px)
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -5px);
}